* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    max-width: 840px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    background-color: cyan;
    padding: 10px;
}
nav a {
    display: block;
    padding: 20px;
}
main {
    max-width: 840px;
}
h1 {
    color: darkblue;
    border-bottom: black;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 1px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}
p {
    padding: 0;
}
aside {
    width: 840px;
    border: 1px solid rgb(0 0 0 / 0.2);
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}
aside h2 {
    position: absolute;
    top: 25px;
    left: 100px;
}
aside img {
    width: 200px;
    height: auto;
}
footer{
    margin-top: 10px;
    border-top: #333 dotted;
    text-align: center;
    max-width: 840px;
}
/* Classic Selectors */
.box {
    margin: 1rem;
    border: 1rem;
    padding: 1rem;
    background-color: cyan;
    color: black;
}
.grid {
    display: grid;
    align-items: center;
    main {
        grid-column: 2/3;
        margin: 1rem;
        justify-content: flex-end;
    }
    aside {
        width: 1rem;
        position: relative;
        grid-column: 1/2;
        grid-row: 1/2;
    }
}